*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    height: 100%;
}

.background-image{
    background: url(pexels-fauxels-3184405.jpg);
    height: 200vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(3px) brightness(0.8);

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    width: 100vw;
    height: auto;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between;
    padding:5px 20px;
    position: fixed;
    z-index: 999;
}
.left-nav{
    margin-left: 30px;
}
.leftnav-upper{
    display: flex;
    flex-direction: row;
}
.leftnav-upper div, .leftnav-lower{
    margin: 2px;
}
#apenby{
    color: #7f808e;
}
#fcclink a{
    text-decoration: none;
    color: #7f808e;
}
#fcclink a:hover{
    color: antiquewhite;
}
#follow{
    width: 50px;
    height: 15px;
    margin:5px 10px;
}

#follow a{
    text-decoration: none;
    color: black;
    background-color: #47cf73;
    font-weight: 400;
    padding: 3px;
    border-radius: 5px;
}
#follow a:hover{
    color: aliceblue;
}
.leftnav-lower a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.right-nav{
    display: flex;
    margin-right: 25px;
}
.right-nav div{
    border: 1px solid black;
    margin: 5px;
}
#hearticon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 44px;
    color: white;
    background-color: #444857;
    font-size: larger;
    border-radius: 5px;
    text-decoration: none;
}
#viewcode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 44px;
    color: white;
    background-color: #444857;
    border-radius: 5px;
    font-size: large;
    text-decoration: none;
}
#signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 44px;
    font-size: large;
    color: black;
    background-color: #47cf73;
    border-radius: 5px;
    text-decoration: none;

}
#signup:hover{
    color: white;
    background-color: #2e874a;
    
}
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 44px;
    font-size: large;
    border-radius: 5px;
    background-color: #444857;
    color: white;
    text-decoration: none;
}
#viewcode:hover, #login:hover, #hearticon:hover{
    background-color: #696f87;
}
.main-containt{
    width: 100vw;
    height: auto;
    margin:100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.main-containt>h1{
    color: white;
}
.main-containt>p{
    color: white;
    margin: 10px 0px;
    font-size: larger;
}
#main-formbody{
    width: 60vw;
    height: auto;
    background-color: #19213ee0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#main-form legend{
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin: 25px 0px 7px 0px;
}
.arranger{
    width: 100%;
    font-weight: 100;
    font-size: 20px;
}
.radio-check{
    font-size: 20px;
    color: white;
    padding: 10px;
}
.arranger-checkbox{
    width: 100%;
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
    color: white;
}
.monochar{
    font-style: oblique;
}
textarea{
    width: 100%;
    height: 100px;
    font-size: larger;
}
#submit{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color:#009730;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 20px 0px;
    cursor: pointer;
    border-radius: 5px;
}

